.home-content
{
  padding: 30px;
  color: white;
  font-family: verdana,sans-serif,Comic;
}
.text-1
{
  font-size: 25px;
}
.text-2
{
  margin-top: 15px;
  font-size: 70px;
  font-variant: small-caps;
  font-weight: bold;
}
.text-3
{
  margin-top: 15px;
  font-size: 30px;
}
button
{
  height: 50px;
  width: 150px;
  margin-top: 25px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: crimson;
  background-color: crimson;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana,sans-serif,Comic;
}
button:hover
{
  background-color: transparent;
  color: crimson;
}
