*
{
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,body
{
  scroll-behavior: smooth;
  height: 100%;
}
body
{
  background: url(background.jpg) no-repeat center;
  background-size: cover,contain;
  background-attachment: fixed;
  margin: 0;
}
.toggle-btn
{
  width: 35px;
  right: 20px;
  top: 20px;
  position: absolute;
  display: none;
}
.toggle-btn span
{
  display: inline-block;
  width: 100%;
  height: 3px;
  float: left;
  margin-bottom: 8px;
  background-color: white;
}
.menu-bar-fix
{
  background: crimson;
  position:fixed;
  padding: 15px 30px;
  width: 100%;
  display: flex;
  transition: 0.5s;
}
 .menu-bar-fix .logo .lio
 {
   color: white;
 }
 .menu-bar-fix nav a:hover
 {
   color: white;
 }
.menu-bar
{
  position: fixed;
  padding: 30px 60px;
  width: 100%;
  display: flex;
}
.menu-bar .logo, .menu-bar-fix .logo
{
  width: 30%;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
}
.menu-bar .logo .lio
{
  color: crimson;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
}
.menu-bar nav, .menu-bar-fix nav
{
  width: 70%;
  padding-top: 15px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
}
a
{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
}
nav a:hover
{
  cursor: pointer;
  color: crimson;
}
.home-section
{
  padding: 10% 10%;
  height: 100%;
  color: white;
  font-family: 'Ubuntu',sans-serif;
}
.text-1
{
  font-size: 25px;
}
.text-2
{
  margin-top: 15px;
  font-size: 70px;
  font-weight: bold;
}
.text-3
{
  margin-top: 15px;
  font-size: 30px;
}
.typing
{
  font-weight: bold;
  color: crimson;
}
.hireme
{
  height: 50px;
  width: 150px;
  margin-top: 25px;
  border-radius: 5px;
  border: solid 2px crimson;
  background-color: crimson;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
}
.hireme:hover
{
  background-color: transparent;
  color: crimson;
  transition: 0.5s;
}

.about-section
{
  width: 100%;
  background: white;
  font-family: 'Ubuntu',sans-serif;
}
.about-section h1
{
  margin: 0;
  padding-top: 80px;
  font-size: 40px;
  text-align: center;
}
.about-section .footer
{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  text-align: center;
}
.about-pd
{
  display: flex;
}
.about-pd img
{
  margin: 30px;
  width: 35%;
  border-radius: 5px;
  border: solid 2px black;

}
.about-det
{
  padding-top: 5%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
}
.about-det .about-name
{
  font-weight: bold;
  font-size: 25px;
}
.about-section span
{
  color: crimson;
}
.about-det p
{
  font-family: 'Ubuntu',sans-serif;
  padding-top: 10px;
  font-size: 18px;
}
.downloadcv
{
  height: 50px;
  width: 210px;
  margin-top: 25px;
  border-radius: 5px;
  border: solid 2px crimson;
  background-color: crimson;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
  transition: 0.5s;
}
.downloadcv:hover
{
  background-color: transparent;
  color: crimson;
}

.projects-section
{
  font-family: 'ubuntu',sans-serif;
  background-color: black;
  color:white;
  height: 96vh;
  width: 100%;
}
.projects-section h1
{
  margin: 0;
  padding-top: 80px;
  font-size: 40px;
  text-align: center;
}
.projects-section .footer
{
  padding-top: 20px;
  padding-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  text-align: center;
}
.projects-section .projects-det
{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
.projects-section .projects-det .p1, .projects-section .projects-det .p2,
.projects-section .projects-det .p3
{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #222;

}
.projects-section .projects-det .p1:hover,
.projects-section .projects-det .p2:hover,
.projects-section .projects-det .p3:hover
{
  cursor: pointer;
  background-color: crimson;
  transition: 0.4s;

}
.projects-section .projects-det img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.projects-section .projects-det
{
  text-align: center;
}


.skills-section
{
  height: 96vh;
  background-color: white;
  font-family: 'ubuntu',sans-serif;

}
.skills-section h1
{
  margin: 0;
  padding-top: 80px;
  font-size: 40px;
  text-align: center;;
}
.skills-section .footer
{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  text-align: center;
}
.skills-section .skills-det
{
  padding: 4%;
  width: 100%;
  display: flex;
  border: solid 3px green;
}
.skills-det .skills-para
{
  padding: 10px;
  width: 50%;
}
.skills-para .skills-header
{
  font-weight: bold;
  font-size: 25px;
}
.skills-para p
{
  font-size: 18px;
  text-align: justify;
}
.skills-set
{
  padding: 10px;
  width: 50%;
}
.skills-set span
{
  font-size: 20px;
}
.readmore
{
  height: 50px;
  width: 150px;
  margin-top: 25px;
  border-radius: 5px;
  border: solid 2px crimson;
  background-color: crimson;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
}
.readmore:hover
{
  background-color: white;
  color: crimson;
  transition: 0.5s;
}
.skills-section .skills-set div
{
  padding: 1px;
  margin: 5px;
  margin-top: 10px;
}
.skills-set .left
{
  padding-left: 5px;
}
.skills-set .right
{
  float: right;
}
.skills-set .bar-python
{
  height: 5px;
  background-image: linear-gradient(to right, crimson 90%, #999 10%);
}
/*Personal Details--Mobile Viewport*/

@media screen and (max-width: 780px) {
  .home-section
  {
    display: grid;
    place-items: center;
    padding-top: 30%;
    padding-bottom: 30%;
    height: 100%;
    text-align: center;
  }
  .text-1
  {
    font-size: 20px;
  }
  .text-2
  {
    font-size: 55px;
  }
  .text-3
  {
    font-size: 25px;
  }

}

/* Menu-bar -- Mobile Viewport*/

@media screen and (max-width: 780px) {
  .menu-bar, .menu-bar-fix
  {
    padding: 0;
    padding-top: 15px;
    display: block;
  }
  .toggle-btn
  {
    display: block;
  }
  .menu-bar nav, .menu-bar-fix nav
  {
    padding: 0;
    display: none;
    width: 100%;
  }
  .menu-bar .show, .menu-bar-fix .show
  {
    display: inline-block;
    width: 100%;
  }
  .menu-bar nav a, .menu-bar-fix nav a
  {
    display: block;
    width: 100%;
    text-align: center;
    background-color: crimson;
    border: solid 1px #000;
  }
  .menu-bar nav a:hover, .menu-bar-fix nav a:hover
  {
    color: white;
    border-color: white;
  }
}
@media screen and (max-width: 980px) {
  .about-pd
  {
    display: block;
  }
}
@media screen and (max-width: 980px) {
  .about-section
  {
    height: auto;
  }
  .about-section .footer
  {
    padding-bottom: 0px;
  }
  .about-det
  {
    padding: 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0;
  }
  .about-section img
  {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-det .about-name
  {
    font-size: 20px;
    padding: 0;
  }
  .about-det p
  {
    font-size: 17px;
    padding: 10px;
    text-align: justify;
  }
}

@media screen and (max-width:780px)
{
  .projects-section
  {
    height: auto;
  }
  .projects-section .projects-det
  {
    display: inline-block;

  }
  .skills-section
  {
    height: auto;
  }
  .skills-section .skills-det
  {
    display: inline-block;
  }
  .skills-det .skills-para
  {
    width: 100%;
    text-align: center;
  }
  .skills-det .skills-set
  {
    width: 100%;
  }
}
